.l10, .l20, .l25, .l30, .l40, .l50, .l60, .l70, .l75, .l80, .l90 {
	text-align: left;
}

.r10, .r20, .r25, .r30, .r40, .r50, .r60, .r70, .r75, .r80, .r90 {
	text-align: right;
}

.l10, .r10 { width: 10%; }
.l20, .r20 { width: 20%; }
.l25, .r25 { width: 25%; }
.l30, .r30 { width: 30%; }
.l40, .r40 { width: 40%; }
.l50, .r50 { width: 50%; }
.l60, .r60 { width: 60%; }
.l70, .r70 { width: 70%; }
.l75, .r75 { width: 75%; }
.l80, .r80 { width: 80%; }
.l90, .r90 { width: 90%; }